/* Your CSS styles */
.sign-desc-container {
  padding: 20px;
  background-color: rgb(248, 229, 229);
  max-width: 100%;

  margin: 0 auto; /* Center the calculator-box horizontally */
  text-align: left; /* Center the text within the calculator-box */
  
}



.word {
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    font-weight: bold;
    margin-right: 50px;
}
  
.sign-title {
    margin: 0 auto 20px; /* Auto margins horizontally center the element */
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.text-and-image {
    display:flex;
    padding: 30px;
    max-width: 100%;
}

.sign-icon-img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-right: 20px; /* Adjust spacing between image and text */
    background-color: rgb(247, 247, 247);
    border-radius: 50%; 
}

/* Your existing styles */
/* Your existing styles */

.text {

    flex-direction: column; /* Display items vertically */
    margin-bottom: 10px; /* Add margin between paragraphs */
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px; /* Add spacing between label and value */
  }
  
  .word {
    margin-right: 10px; /* Adjust spacing between label and value */
  }
  
  p {
    margin: 0; /* Reset margin for the <p> elements */
    white-space: normal; /* Allow line breaks within the text */
  }

.description{
    padding: 50px;
    background-color: rgb(251, 234, 229);

}
  